- @posts.each do |p|
    .card.border-primary.mb-3{style:"max-width: 25rem; margin: 5px;"}
        .card-header
            = p.created_at
        .card-body.text-primary
            .row
                .col-8
                    %h5.card-title
                        - @name = User.find(p.user_id).name
                        = link_to "#{@name}", profile_url(@name)
                    %p.card-text{style:"font-size: large;"}
                        = p.msg
                        %br
                        %a{style:"font-size: medium;", class: "like_lister",data: "#{p.get_like_user_name_links}"}= "Like : #{p.like_users.count}"
                .col
                    - if p.this_user_liked(session[:user_id])
                        = button_to "Unlike", like_manager_url, params: {id: p.id}, class: "btn btn-danger", method: :delete
                        -# = simple_form_for(@post, url: like_manager_url, method: "delete") do |f|
                        -#     .form-inputs
                        -#         = f.input :id, as: :hidden, input_html: { value: "#{p.id}" }
                        -#     .form-actions.mt-2
                        -#         = f.button :submit, "Unlike", class: "btn btn-danger"
                    - else
                        = button_to "Like", like_manager_url, params: {id: p.id}, class: "btn btn-primary"
                        -# = simple_form_for(@post, url: like_manager_url) do |f|
                        -#     .form-inputs
                        -#         = f.input :id, as: :hidden, input_html: { value: "#{p.id}" }
                        -#     .form-actions.mt-2
                        -#         = f.button :submit, "Like", class: "btn btn-primary"