%h1 Feed
%p#notice= notice

.row
    .col-10
        = render 'posts_list'
    .col
        = link_to "Post", new_post_custom_url, class: "btn btn-primary", style:"margin: 5px;"
        = link_to "Log out", logout_url, class: "btn btn-warning", style:"margin: 5px;"
= render 'modal'